<p id="notice"><%= notice %></p>


  <div class="jumbotron">
    <div class="container">
      <h1>Welcome to the Oakdrive experience</h1>
      <p>This is just a place holder all this will be styled all nice later on.</p>
      <p>Damn dude these tracks are fiyah. "ask not"?! what? forgetaboutit.</p>
    </div>
  </div>

<div class="episode-index"
      style="text-align:center">

  <div style="text-align:left">
    <h1>Episodes</h1>
  </div>

      <% @episodes.each do |episode| %>
        <div class="col-md-3">
          <%= link_to image_tag(episode.image.url(:thumb)), episode %>
          <div class="">
            <h4><%= episode.title %></h4>
            <p><%= episode.description %></p>

            <%= link_to 'Destroy', episode_path(episode),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
          </div>
        </div>

        <% end %>
      </div>
</div>
