<p id="notice"><%= notice %></p>

  <div class="container-fluid">
    <div class="row row-centered">

    <div class="jumbotron">

      <h1>Welcome to the Oakdrive experience</h1>
      <p>This is just a place holder all this will be styled all nice later on.</p>
      <p>Damn dude these tracks are fiyah. "ask not"?! what? forgetaboutit.</p>
    </div>


      <h1>Episodes</h1>

      <% @episodes.each do |episode| %>
        <div class="col-sm-6 col-lg-3 col-md-4 col-centered">
          <%= link_to image_tag(episode.image.url(:thumb)), episode %>
          <div class="episode-info">
            <h4><%= episode.title %></h4>
            <p><%= episode.description %></p>

            <%= link_to 'Destroy', episode_path(episode),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
          </div>
        </div>

        <% end %>
      </div>
    </div>
