<div class="col-md-4" id="content-container">
  <%= print params[:page] %>

  <h3 class="show-title title-spacing index-alignment"><%= @episode.title %></h3>
    <div class="index-alignment">
      <%= image_tag(@episode.image.url(:medium)) %>
    </div>

  <div class="stuff index-alignment">

  <!--  <div id="waveplayer">
      <div class="controls">
        <button class="btn play" onclick="wavesurfer.playPause()">
          <i class="fa fa-play play-arrow"></i>
        </button>
      </div>

      <div id="waveform">
        <progress id="progress" class="progress progress-striped"></progress>
      </div>
    </div> -->

    <audio controls>
      <source src="<%= @episode.mp3 %>" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>

  </div>

  <div class="description-container">
    <br>
    <a href="<%= @episode.mp3 %>">Download</a>
    <br>
    <br>
    <p>
      <%= @episode.description %>
    </p>
    <br>
  </div>

</div>


<script type="text/javascript">


var ctx = document.createElement('canvas').getContext('2d');
var linGrad = ctx.createLinearGradient(0, 64, 0, 200);
linGrad.addColorStop(0.5, 'rgba(255, 255, 255, 1.000)');
linGrad.addColorStop(0.5, 'rgba(183, 183, 183, 1.000)');

var wavesurfer = WaveSurfer.create({
  container: '#waveform',
  progressColor: 'hsla(200, 100%, 30%, 0.5)',
  cursorColor: '#fff',
  barWidth: 2,
  height: 50,
  pixelRatio: 1,
  minPxPerSec: 1,
});


wavesurfer.on('loading', function (percents) {
  document.getElementById('progress').value = percents;
});

wavesurfer.on('ready', function (percents) {
  document.getElementById('progress').style.display = 'none';
});

wavesurfer.load("<%= @episode.mp3 %>");


</script>
