<!DOCTYPE html>
<html>
<head>
  <title>Oakdrive Podcast</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'Oakdrive_Web_Logo.png' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/jquery.jplayer.min.js"></script>
</head>


<body>
  <div class="container-fluid">
    <div class="dropdown hidden-sm hidden-md hidden-lg">

      <div class="dropbtn">
        <div class="icon-bar"></div>
        <div class="icon-bar"></div>
        <div class="icon-bar"></div>
      </div>

      <div class="dropdown-container">
        <div class="dropdown-content">
          <li><%= link_to "EPISODES", episodes_path, ({style: "color: grey; text-decoration: none;"} if params[:controller] == 'episodes' && %w(index show).include?(params[:action]))%></li>
          <li><%= link_to "SUBSCRIBE", '/pages/subscribe', ({style: "color: grey; text-decoration: none;"} if current_page?('/pages/subscribe'))%></li>
          <li><%= link_to "DONATE", '/pages/donate', ({style: "color: grey; text-decoration: none;"} if current_page?('/pages/donate'))%></li>
          <li><%= link_to "EVENTS", events_path, ({style: "color: grey; text-decoration: none;"} if current_page?(events_path))%></li>
          <li><%= link_to "ABOUT", '/pages/about', ({style: "color: grey; text-decoration: none;"} if current_page?('/pages/about'))%></li>
          <li><%= link_to "CONTACT", '/pages/contact', ({style: "color: grey; text-decoration: none;"} if current_page?('/pages/contact'))%></li>
        </div>
      </div>

    </div>

    <div class="hidden-xs navbar navbar-default navbar-static-top">
      <%= image_tag("Oakdrive_Logo.png", height: '90', alt: 'Site Logo', class: "logo") %>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to "EPISODES", episodes_path, ({style: "color: grey; text-decoration: none;"} if params[:controller] == 'episodes' && %w(index show).include?(params[:action]))%></li>
            <li><%= link_to "SUBSCRIBE", '/pages/subscribe', ({style: "color: grey; text-decoration: none;"} if current_page?('/pages/subscribe'))%></li>
            <li><%= link_to "DONATE", '/pages/donate', ({style: "color: grey; text-decoration: none;"} if current_page?('/pages/donate'))%></li>
            <li><%= link_to "EVENTS", events_path, ({style: "color: grey; text-decoration: none;"} if current_page?(events_path))%></li>
            <li><%= link_to "ABOUT", '/pages/about', ({style: "color: grey; text-decoration: none;"} if current_page?('/pages/about'))%></li>
            <li><%= link_to "CONTACT", '/pages/contact', ({style: "color: grey; text-decoration: none;"} if current_page?('/pages/contact'))%></li>
          </ul>
        </div>
    </div>

    <div class="row">
      <div class="col-sm-4" id="content-container">
        <%= yield %>
      </div>
      <div class="hidden-xs sidebar span-2 col-sm-2 pull-right">
        <div class="sidebar-section search">
          <%= form_tag episodes_path, :method => "get" do %>
            <%= text_field_tag :search, params[:search], :placeholder => "search" %>
          <% end %>
        </div>

        <div class="sidebar-section">
          <h4 class="title">SOCIAL ISH</h4>
          <i class="fa fa-lg fa-music" aria-hidden="true"></i>
          <i class="fa fa-lg fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-lg fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-lg fa-instagram" aria-hidden="true"></i>
        </div>

        <div class="sidebar-section">
          <h4 class="title">LATEST INSTALLMENTS</h4>
          <% @latest.sort_by { |i| i.episode_num }[-4..-1].reverse.each do |episode| %>
            <p><%=link_to title_case(episode.title, 'a an the of in and'), episode_path(episode), {style: "color: #ffffff; text-decoration: none;"}%></p>
          <% end %>
        </div>

        <div class="sidebar-section">
          <h4 class="title">ARCHIVES</h4>
          <p>Season 01</p>
        </div>
      </div>
    </div>
    <% if params[:controller] == 'episodes' && %w(show).include?(params[:action]) %>
      <div id="footer">
          <p id="prev">< Prev</p>
          <p id="next">Next ></p>

          <p id="footer-center">
            <span id="published">PUBLISHED ON: <%= @episode.created_at.strftime("%m.%d.%Y") %></span>
            <span id="season">FROM: SEASON 01</span>
            <span id="producer">PRODUCER: MOSIAH RASHAAD</span>
          </p>
      </div>
      <% end %>

      <div class="mobile-search hidden-sm hidden-md hidden-lg hidden-xl">
        <%= form_tag episodes_path, :method => "get" do %>
          <%= text_field_tag :search, params[:search], :placeholder => "search" %>
        <% end %>

        <h4 id="social-mobile">SOCIAL ISH</h4>
        <i class="fa fa-lg fa-music" aria-hidden="true"></i>
        <i class="fa fa-lg fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-lg fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-lg fa-instagram" aria-hidden="true"></i>
      </div>
    </div>
</body>
</html>
