<!DOCTYPE html>
<html>
<head>
  <title>Oakdrive Podcast</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'Oakdrive_Web_Logo.png' %>
  <%= csrf_meta_tags %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.0.52/wavesurfer.min.js"></script>
</head>

  <body>
    <% unless current_page? root_path %>
      <div class="container-fluid">
        <div class="dropdown  hidden-md hidden-lg">

          <div class="dropbtn">
            <div class="icon-bar"></div>
            <div class="icon-bar"></div>
            <div class="icon-bar"></div>
          </div>

        <div class="dropdown-container">
          <div class="dropdown-content">
            <li><%= link_to "RECENT", '/recent', ({style: "color: grey; text-decoration: none;"} if current_page?('/recent'))%></li>
            <li><%= link_to "EPISODES", episodes_path, ({style: "color: grey; text-decoration: none;"} if params[:controller] == 'episodes' && %w(index show).include?(params[:action]))%></li>
            <li><%= link_to "SUBSCRIBE", '/subscribe', ({style: "color: grey; text-decoration: none;"} if current_page?('/subscribe'))%></li>
            <li><%= link_to "EVENTS", events_path, ({style: "color: grey; text-decoration: none;"} if current_page?(events_path))%></li>
            <li><%= link_to "ABOUT", '/about', ({style: "color: grey; text-decoration: none;"} if current_page?('/about'))%></li>
            <li><%= link_to "CONTACT", '/contact', ({style: "color: grey; text-decoration: none;"} if current_page?('/contact'))%></li>
          </div>
        </div>
      </div>

      <div class="hidden-xs hidden-sm navbar navbar-default navbar-static-top">
        <%= image_tag("Oakdrive_Logo.png", height: '90', alt: 'Site Logo', class: "logo") %>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to "RECENT", '/recent', ({style: "color: grey; text-decoration: none;"} if current_page?('/recent'))%></li>
            <li><%= link_to "EPISODES", episodes_path, ({style: "color: grey; text-decoration: none;"} if params[:controller] == 'episodes' && %w(index show).include?(params[:action]))%></li>
            <li><%= link_to "SUBSCRIBE", '/subscribe', ({style: "color: grey; text-decoration: none;"} if current_page?('/subscribe'))%></li>
            <li><%= link_to "EVENTS", events_path, ({style: "color: grey; text-decoration: none;"} if current_page?(events_path))%></li>
            <li><%= link_to "ABOUT", '/about', ({style: "color: grey; text-decoration: none;"} if current_page?('/about'))%></li>
            <li><%= link_to "CONTACT", '/contact', ({style: "color: grey; text-decoration: none;"} if current_page?('/contact'))%></li>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="row">

      <%= yield %>

      <% if 1 < 0 %>
        <div class="hidden-xs hidden-sm sidebar col-xs-2 pull-right">
          <div class="sidebar-section search">
            <%= form_tag episodes_path, method: :get do %>
              <%= text_field_tag :query, params[:query], :placeholder => "search" %>
            <% end %>
          </div>

          <div class="sidebar-section">
            <h4 class="title">SOCIAL ISH</h4>
            <i class="fa fa-lg fa-music" aria-hidden="true"></i>

            <a href="https://twitter.com/oakdrivepodcast">
              <i class="fa fa-lg fa-twitter" aria-hidden="true"></i>
            </a>

            <a href="https://www.facebook.com/oakdrivepodcast">
              <i class="fa fa-lg fa-facebook" aria-hidden="true"></i>
            </a>

            <a href="https://www.instagram.com/oakdrivepodcast/">
              <i class="fa fa-lg fa-instagram" aria-hidden="true"></i>
            </a>
          </div>

          <div class="sidebar-section">
            <h4 class="title">LATEST INSTALLMENTS</h4>
            <% @latest.sort_by { |i| i.episode_num }[-4..-1].reverse.each do |episode| %>
              <p><%=link_to title_case(episode.title, 'a an the of in and'), episode_path(episode), {style: "color: #ffffff; text-decoration: none;"}%></p>
            <% end %>
          </div>

          <div class="sidebar-section">
            <h4 class="title">ARCHIVES</h4>
            <p>Season 01</p>
          </div>
        </div>
      <% end %>
    </div>


      <!--footer -->
      <% if params[:controller] == 'episodes' && %w(show).include?(params[:action]) %>
        <div id="footer">
          <div style="margin-right:auto;width:50px;">
            <% if @episode != @episodes.first %>
              <%= link_to(@episodes[(@episodes.index(@episode)-1)]) do %>
                <p id="prev">< Prev</p>
              <% end %>
            <% end %>
          </div>
          <div style="margin-left:auto;width:50px;">
            <% if @episode != @episodes.last %>
              <%= link_to(@episodes[(@episodes.index(@episode)+1)]) do %>
                <p id="next">Next ></p>
              <% end %>
            <% end %>
          </div>
            <p id="footer-center">
              <br class=" hidden-md hidden-lg hidden-xl">
              <span id="published">PUBLISHED ON: <%= @episode.created_at.strftime("%m.%d.%Y") %></span>

              <br class=" hidden-md hidden-lg hidden-xl">
              <span id="season">FROM: SEASON 01</span>
              <br class=" hidden-md hidden-lg hidden-xl">

              <span id="producer">PRODUCER: MOSIAH RASHAAD</span>
            </p>
          </div>
      </div>
    <% end %>

    <% unless current_page?(root_path) %>
      <div class="mobile-search  hidden-md hidden-lg hidden-xl">
        <%= form_tag episodes_path, method: :get do %>
          <%= text_field_tag :query, params[:query], :placeholder => "search" %>
        <% end %>

        <h4 id="social-mobile">SOCIAL ISH</h4>
        <i class="fa fa-lg fa-music" aria-hidden="true"></i>

        <a href="https://twitter.com/oakdrivepodcast">
          <i class="fa fa-lg fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="https://www.facebook.com/oakdrivepodcast">
          <i class="fa fa-lg fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="https://www.instagram.com/oakdrivepodcast/">
          <i class="fa fa-lg fa-instagram" aria-hidden="true"></i>
        </a>
      </div>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
