<!DOCTYPE html>
<html>
<head>
  <title>Oakdrive</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">

        <div class="navbar-brand"><%= link_to 'Oakdrive', root_path %></div>
        <ul class="nav navbar-nav">
          <li><a href="#">Events</a></li>
          <li><a href="#">Subscribe</a></li>
          <li><a href="#">Donate</a></li>
          <li><a href="#">Information</a></li>
        </ul>
      </div>
    </nav>


    <%= yield %>

  </div>

</body>
</html>
