<!DOCTYPE html>
<html>
<head>
  <title>Oakdrive Podcast</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'Oakdrive_Web_Logo.png' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">

    <div class="hidden-xs navbar navbar-default navbar-static-top">
      <%= image_tag("Oakdrive_Logo.png", height: '90', alt: 'Site Logo', class: "logo") %>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to "EPISODES", root_path, ({style: "color: grey; text-decoration: none;"} if current_page?(root_path))%></li>
            <li><a href="#">SUBSCRIBE</a></li>
            <li><a href="#">EVENTS</a></li>
            <li><a href="#">DONATE</a></li>
            <li><a href="#">CONTACT</a></li>
          </ul>
        </div>
    </div>

    <div class="row">

      <%= yield %>

      <div class="hidden-xs sidebar span-2 col-sm-2 pull-right">
        <div class="sidebar-section search">
          <%= form_tag episodes_path, :method => "get" do %>
            <%= text_field_tag :search, params[:search], :placeholder => "search" %>
          <% end %>
        </div>

        <div class="sidebar-section">
          <h4 class="title">SOCIAL ISH</h4>
          <i class="fa fa-lg fa-music" aria-hidden="true"></i>
          <i class="fa fa-lg fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-lg fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-lg fa-instagram" aria-hidden="true"></i>
        </div>

        <div class="sidebar-section">
          <h4 class="title">LATEST INSTALLMENTS</h4>
          <% @latest.sort_by { |i| i.episode_num }[-4..-1].reverse.each do |episode| %>
            <p><%=link_to episode.title, episode_path(episode), {style: "color: #ffffff; text-decoration: none;"}%></p>
          <% end %>
        </div>

        <div class="sidebar-section">
          <h4 class="title">ARCHIVES</h4>
        </div>
      </div>
    </div>

</body>
</html>
